<form action="/events" method="POST">

  <label for="name">Event name:</label>
  <input class="add" type="text" name="name" id="name">

  <label for="description">Description:</label>
  <input class="add" type="text" name="description" id="description">

  <label for="time">Time: </label>
  <input class="add" type="time" name="time" id="time">

  <label for="date">Date: </label>
  <input class="add" type="text" name="date" id="date">

  <label for="duration">Duration:</label>
  <input class="add" type="number" name="duration" id="duration">

  <label for="location">Location:</label>
  <input class="add" type="text" name="location" id="location">

  <label for="numParticipants">Maximum numbers of participants:</label>
  <input class="add" type="number" name="numParticipants" id="numParticipants">

  <label for="price">Price:</label>
  <input class="add" type="number" name="price" id="price">





  <button class="voteSubmit" type="submit">Add an event</button>
</form>

</div>