<h1>These are the available events</h1>
<form action="/groups/{{groupId}}" method="POST">
  {{#each eventsList}}
  <div class="groupname">
    <a href="/events/{{_id}}">{{name}}</a>
    <div class="button-holder">
      <input type="checkbox" id="upvote" name="events" value={{_id}} />
    </div>
  </div>
  {{/each}}
  <div>
    <button class="newGroup" type="submit">Submit</button>
</form>
</div>