
<a href="/auth/login">Login</a>
<a href="/auth/signup">Signup</a>
<div class="homepage">
​
  <h1>Kunst.Me <br> </h1>
​
  <h2>When you can't visit art, we bring art to you</h2>
  <h4>
    Here at Kunst.Me we care about art. With galleries and exhibitions shut down or restricted, we have decided to
    bring
    the art to you, our community. Get together with your friends and book a masterclass with any of our handpicked
    partner artists
    in your local area.
    To help make the decision palatable to all members of your group, we have implemented advanced AI to help decide
    which
    masterclass your group should attend, based on your interests, availability and budget.

