@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@300&display=swap");
body {
  padding: 50px;
  font-family: "Bitter", serif; }

a {
  color: #00b7ff;
  font-weight: 1000; 
  font-size: 20px;}

.homepage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center; }

.homepage h2 {
  margin-top: 30px; }

.homepage h4 {
  width: 80vw; 
  margin-bottom: 50px;}

h1 {
  font-weight: 900;

}

h3 {
  font-weight: 900;
  line-height: 30px;

}

h4 {
  line-height: 30px;
  width: 600px;
}

.groupname {
  text-align: center;
  padding: 30px;
  margin: 30px;
  font-weight: bold;
  font-size: 28px;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 0 #eee;
  width: 1100px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center; }

.groupname a {
  color: black
}

.newGroup {
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 0 #eee;
  display: flex;
  justify-content: center;
  width: 1100px;
  height: 50px;
  background-color: azure;
  text-align: center;
  padding-top: 15px;
  margin: 30px }

 

  .groupview {
    text-decoration: none;
  }

.eventsList {
  text-align: center;
  padding: 30px;
  margin: 30px;
  font-weight: bold;
  font-size: 28px;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 0 #eee;
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center; }

.voteSubmit {
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 0 #eee;
  display: flex;
  justify-content: center;
  width: 40%;
  height: 50px;
  background-color: azure;
  text-align: center;
  padding-top: 15px;
  text-decoration: none; }

.footer {
  text-align: center;
  font-size: 0.7em;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  // align-items: center;
  flex-direction: column-reverse;
  text-decoration: none; }

.footer ul {
  padding: 0px;
  list-style-type: none; }

.map-frame {
  margin-top: 40px; 
  display: flex;
  justify-content: right;
  }

.footerMap {
  background-color: azure;
  display: flex;
  flex-direction: row;
  margin-top: 100px; 
  margin-bottom: 25px;}

/* header */


nav {
  padding: 0.25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid yellow;
  margin-bottom: 50px;
  font-size: 26px;
  height: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

//add

.overallAdd {
  display: flex;
  flex-direction: column;
  color:black;
}

.add {
  text-align: center;
  padding: 30px;
  margin: 30px;
  font-weight: bold;
  font-size: 28px;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 0 #eee;
  width: 600px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}