<h1>Group</h1>

<div class="overallAdd">

  <form action="/groups" method="POST">

    <label for="name">Groupname:</label>
    <input class="add" type="text" name="name" id="name">


    <label for="user">Friends:</label>
    <select class="add" name="user" multiple>
      {{#each users }}
      <option class="users" value="{{_id}}">{{username}}</option>
      {{/each}}

    </select>


    <label for="date">Date:</label>
    <input class="add" type="date" name="date" id="date">

    <button class="voteSubmit" type="submit">Add Group</button>
  </form>

</div>