<h1>Your Groups</h1>
<div class="groupview">
  {{#each groupsList}}
  <div class="groupname">
    <a style="text-decoration:none" href="/groups/{{_id}}">{{ name }}</a>
  </div>
  {{/each}}

  <a class="newGroup" style="text-decoration:none" href="/groups/add">New Group</a>
</div>

<a class="newGroup" style="text-decoration:none" href="/events">View all events</a>
</div>